{% extends "v2/base.html" %}

{% block content %}
<style>

a.thumbnail > img {
    max-width: 120px;
}

</style>

<div class="container">

<!-- Items below reorder point -->
<h3>Items running out<span class="pull-right">Refresh</span></h3><hr>

<div class="col-xs-6 col-sm-3 col-md-2"><a href="" class="thumbnail right-caption">
    <img class="" src="/static/img/items/Guest Hampers/Butternut Squash.jpg" alt="">
    <div class="caption">
        <p>Butternut Squash</p>
        <p>163</p>
    </div>
</a></div>

<div class="col-xs-6 col-sm-3 col-md-2"><a href="" class="thumbnail right-caption">
    <img class="" src="/static/img/items/Guest Hampers/Butternut Squash.jpg" alt="">
    <div class="caption">
        <p>Butternut Squash</p>
        <p>163</p>
    </div>
</a></div>

<div class="col-xs-6 col-sm-3 col-md-2"><a href="" class="thumbnail right-caption">
    <img class="" src="/static/img/items/Guest Hampers/Butternut Squash.jpg" alt="">
    <div class="caption">
        <p>Butternut Squash</p>
        <p>163</p>
    </div>
</a></div>

<div class="col-xs-6 col-sm-3 col-md-2"><a href="" class="thumbnail right-caption">
    <img class="" src="/static/img/items/Guest Hampers/Butternut Squash.jpg" alt="">
    <div class="caption">
        <p>Butternut Squash</p>
        <p>163</p>
    </div>
</a></div>






</div><!-- /.container -->



<script>
$(document).ready(function() { 
    $("#recent").tablesorter({
        sortList: [[4,1]],
        showProcessing: true,
        widgets: ["filter"]
    }); 
});
</script>

{% endblock %}