{% extends "v2/base.html" %}


{% block title %}Inventory{% endblock %}

{% block content %}
<style>
  .alert {
    min-height: 110px;
  }
  .alert img {
    float: left;
    height: 90px;
    max-width: 90px;
  }

  .alert .alert-label {
    font-size: 9pt;
    padding: 10px 10px;
    float: left;
    height: inherit;
    width: calc(100% - 100px);
    text-align:center;
  }

  .alert .alert-label span {
    font-size: 10pt;
  }



  .buttons {
    padding: 15px;
  }

  .btn-block {
    width: 100%;
    float:left;
  }

  #btn_newItem {
    margin-top: 0;
  }

  #btn_getData {
    margin-right: 1% !important;
  }

</style>
<div class="content">
    <div class="container">

      <div class= "row">
        <div class="card">
            <button class="btn btn-default header accordion btn-block" id="accordion" >
              <h4>Guest Supplies</h4>
            </button>
            <div class="card">
                <div class="row">
                  {% for item in supplies %}
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="alert alert-danger">
                  <img src="/static/img/items/{{item.category}}/{{item.picture}}"/>
                  <div class="alert-label">{{item.name}}<br><span>{{item.remaining}}</span></div>
                  </div></a>
                  </div>
                  {% endfor %}
                </div>
                <div class="card">
                  <a href="/review/Guest Supplies">
                  <button class="btn btn-default btn-block" id="btn_getData" >Month Review</button></a>
                </div>
            </div>
        </div>
      </div>

      <hr>



      <div class= "row">
        <div class="card">
            <button class="btn btn-default header accordion btn-block" >
              <h4>Guest Hampers</h4>
            </button>
            <div class="card">
                <div class="row">
                  {% for item in hampers %}
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="alert alert-danger">
                  <img src="/static/img/items/{{item.category}}/{{item.picture}}"/>
                  <div class="alert-label">{{item.name}}<br><span>{{item.remaining}}</span></div>
                  </div></a>
                  </div>
                  {% endfor %}
                </div>
                <div class="card">
                  <a href="/review/Guest Hampers">
                  <button class="btn btn-default btn-block" id="btn_getData" >Month Review</button></a>
                </div>
            </div>
        </div>
      </div>

      <hr>

      <div class= "row">
        <div class="card">
            <button class="btn btn-default header accordion btn-block" >
              <h4>Kitchenware</h4>
            </button>
            <div class="card">
                <div class="row">
                  {% for item in kitchenware %}
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <a href="/{{g.current_lang}}/inventory/{{item.sku}}"><div class="alert alert-danger">
                  <img src="/static/img/items/{{item.category}}/{{item.picture}}"/>
                  <div class="alert-label">{{item.name}}<br><span>{{item.remaining}}</span></div>
                  </div></a>
                  </div>
                  {% endfor %}
                </div>
                <div class="card">
                  <a href="/review/Kitchenware">
                  <button class="btn btn-default btn-block" id="btn_getData" >Month Review</button></a>
                </div>
            </div>
        </div>
      </div>




    </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}


</script>

{% endblock %}