{% extends "v2/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/loading.css"/>

<div class="container">

    <!-- Info display -->
    <div class="col-md-3">
        <img src="/static/img/items/{{item[0].category}}/{{item[0].picture}}" alt="" class="img-rounded img-responsive hidden-xs hidden-sm">
        <h3 class="">{{item[0].name}}</h3>
        <!-- <hr class="hidden-xs hidden-sm"> -->
        <p class=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px;"></span> {% for i in item %}
        {{i.location}}<br><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px; color:white;"></span> {% endfor %}</p>
    </div>

    <!-- Chart display -->
	<div class="col-md-9">
    <h4>Quantity remaining</h4>
    <div class="panel panel-default">
        <div class="panel-body">
        <div id="chart" style="height: 400px; margin: 0 auto"></div>
        <div class="footer" id="update" style="display:none">
            <hr>
            <div class="stats">
                <i class="fa fa-history"></i> Latest stock movement &mdash; 3 minutes ago
            </div>
        </div>
        <div class="col-sm-4"><button class="btn btn-success" id="btn_getData">New Stock</button></div>
        <div class="col-sm-4"><button class="btn btn-default" id="btn_getData">Get Data</button></div>
        <div class="col-sm-4"><button class="btn btn-danger " id="btn_newItem">Use</button></div>
    </div>
    </div></div>


</div>


<script>
var chartData;
function getData(callback) {
    $.ajax({
        type: "POST",
        url: "/api/getChartData",
        data: JSON.stringify("{{item[0].name}}"),
        dataType: "json",
        contentType: "application/json",
        success: function(response, status, jqXHR) {
            var filtered = [];
            for (var c = 0; c < response.length; ++c) {
                filtered.push([new Date(response[c][0]).getTime(), response[c][1]])
            }
            chartData = filtered;
            callback(filtered)
        }
    });
}

function initChart(dataSources) {


    Highcharts.stockChart('chart', {
        rangeSelector: {
            selected: 1
        },
        chart: {
            type: 'area'
        },
        // title: {
        //     text: '{{item[0].name}}'
        // },
        // subtitle: {
        //     text: 'Quantity remaining'
        // },
        // xAxis: {
        //     type: 'datetime',
        //     dateTimeLabelFormats: { // don't display the dummy year
        //         month: '%e. %b',
        //         year: '%b'
        //     },
        //     title: {
        //         text: 'Date'
        //     }
        // },
        tooltip: {
            // headerFormat: '<b>Quantity</b><br>',
            pointFormat: '<b>Quantity:</b> {point.y:.2f}'
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },

        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    enabled: false
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            series: {
                events: {
                  afterAnimate: function (ev) {
                    // console.log(data)
                    // console.log(ev)
                    // console.log('fired only once for each series');
                    // $("#update").css("display", "inline");
                    $("#update").fadeIn();
                  }
                }
            }
        },

        series: [{
            name: '{{item[0].name}}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: dataSources
        }]
    });
}

getData(initChart);

$(document).ready(function(){
    // insert any required code here
});

</script>
{% endblock %}