{% extends "v2/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/loading.css"/>

<div class="container">

    <!-- Info display -->
    <div class="col-md-3">
        <img src="/static/img/items/{{item[0].category}}/{{item[0].picture}}" alt="" class="img-rounded img-responsive hidden-xs hidden-sm">
        <h3 style="line-height:1.2; padding-bottom: 8px;">{{item[0].name}}</h3>
        <p class=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px;"></span> {% for i in item %}
        {{i.location}}<br><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px; color:transparent;"></span> {% endfor %}</p>
        <hr style="margin-top:-20px;">
        {% if item[0].reorder != 0 %}
        <p class="text-success"><span class="glyphicon glyphicon-ok" style="font-size:16px;" aria-hidden="true"></span> Item is tracked</p>
        {% endif %}
        {% if item[0].reorder == 0 %}
        <p class="text-danger"><span class="glyphicon glyphicon-remove" style="font-size:16px;" aria-hidden="true"></span> Item is <b>not</b> tracked</p>
        {% endif %}
        <button class="btn btn-default" style="width:100%; background-color: #e6e6e6;" data-toggle="modal" data-target="#reorder-settings" id="#reorder-settings">Reorder settings</button>
        <h4 style="line-height:1.5;">Reorder when quantity reaches <b style="font-size: 26px">{{item[0].reorder}}</b></h4>
    </div>
    <!-- END Info display -->

    <!-- Chart display -->
	<div class="col-md-9">
    <h4>Quantity remaining</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="chart" style="height: 400px; margin: 0 auto"></div>
            <div class="col-sm-4"><button class="btn btn-default" style="width:100%;" id="btn_stockUpdate">Stock Update</button></div>
            <div class="col-sm-4"><button class="btn btn-default " style="width:100%;;" id="btn_getData">Get Data</button></div>
    		<div class="col-sm-4">
    			<button class="btn btn-default" style="width:100%;" id="btn_delItem" data-toggle="modal" data-target="#delModal">Delete</button>
    		</div>
            <div id="update" style="display:none">
                <hr>
                <div class="stats" style="margin-left:10px; padding-top:7px;">
                    <i class="fa fa-history"></i> Latest stock movement &mdash; 3 minutes ago
                </div>
            </div>
        </div>
    </div>
    <!-- END Chart display -->


    <!-- Modal #1 display -->
    <div id="delModal" class="modal fade" data-backdrop="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Items</h4>
                    </div>
                    <div class="modal-body">
                        <p>Select the locations that you want to delete the item from:</p>
                        <b class="text-danger">Please make sure the items have been physically removed.</b>
                        {% for i in item %}
                            <div class="checkbox-custom">
                                <input type="checkbox" id="checkbox1"/>
                                <label>{{i.location}}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal #1 display -->

    <!-- Modal #2 display -->
    <div id="reorder-settings" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="reorder-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reorder settings</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Track item quantity?</b>&nbsp;&nbsp;&nbsp;<label class="radio-inline" id="turn-on-par">
                          <input type="radio" name="on-off" id="turn-on" value="on" {% if item[0].reorder != 0 %}checked{% endif %}> Yes
                        </label>
                        <label class="radio-inline" id="turn-off-par">
                          <input type="radio" name="on-off" id="turn-off" value="off" {% if item[0].reorder == 0 %}checked{% endif %}> No
                        </label></p>
                        <div id="pred" style="display:{% if item[0].reorder == 0 %}none{% endif %};">
                        <b>Choose between automatic reordering prediction or manual input:</b>
                        <div class="radio">
                          <label>
                            <input type="radio" name="manual-auto" id="pred-auto" value="auto" {% if item[0].reorder != 0 %}checked{% endif %}>
                            Automatic reordering prediction
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="manual-auto" id="pred-manual" value="manual" {% if item[0].reorder == 0 %}checked{% endif %}>
                            Manual input: <input type="text" class="form-control" id="pred-manual-qty" placeholder="Custom reorder point">
                          </label>
                        </div></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" value="Apply changes" id="submit-reorder">Apply changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal #2 display -->

    </div>

</div>




<script>

var reorder = {
    "name":  "{{item[0].name}}",
    "tracking": $('input[name="on-off"]:checked').val(),
    "prediction": $('input[name="manual-auto"]:checked').val(),
    "qty": $('input[id="pred-manual-qty"]').val()
};


function editReorder() {
    $.ajax({
        type: "POST",
        url: "/api/editReorder",
        data: JSON.stringify(reorder),
        dataType: "json",
        contentType: "application/json",
        async: false,
        success: function(response, status, jqXHR) {
            var filtered = response;
            // console.log(response)
            console.log("success")
            // callback(filtered);
        }
    });
}

$('#reorder-form').submit(function(event) {
    event.preventDefault();
    console.log(editReorder());
    location.reload();
});


function getData(callback) {
    $.ajax({
        type: "POST",
        url: "/api/getChartData",
        data: JSON.stringify("{{item[0].name}}"),
        dataType: "json",
        contentType: "application/json",
        success: function(response, status, jqXHR) {
            var filtered = [];
            for (var c = 0; c < response.length; ++c) {
                filtered.push([new Date(response[c][0]).getTime(), response[c][1]]);
            }
            callback(filtered);
        }
    });
}

function initChart(dataSources) {
    Highcharts.stockChart('chart', {
        rangeSelector: {
            selected: 1
        },
        chart: {
            type: 'area'
        },
        // title: {
        //     text: '{{item[0].name}}'
        // },
        // subtitle: {
        //     text: 'Quantity remaining'
        // },
        // xAxis: {
        //     type: 'datetime',
        //     dateTimeLabelFormats: { // don't display the dummy year
        //         month: '%e. %b',
        //         year: '%b'
        //     },
        //     title: {
        //         text: 'Date'
        //     }
        // },
        tooltip: {
            // headerFormat: '<b>Quantity</b><br>',
            pointFormat: '<b>Quantity:</b> {point.y:.2f}'
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },

        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    enabled: false
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            series: {
                events: {
                  afterAnimate: function (ev) {
                    // console.log(data)
                    // console.log(ev)
                    // console.log('fired only once for each series');
                    // $("#update").css("display", "inline");
                    $("#update").fadeIn();
                  }
                }
            }
        },

        series: [{
            name: '{{item[0].name}}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: dataSources
        }]
    });
}

getData(initChart);

$(document).ready(function(){
    // insert any required code here


    $("#turn-on-par").click(function(){
        $("#pred").show();
    });
    $("#turn-off-par").click(function(){
        $("#pred").hide();
    });


});

</script>
{% endblock %}