<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Login Page - Ace Admin</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="/static/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/static/css/ace.min.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/static/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="/static/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
		<![endif]-->

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="/static/js/html5shiv.min.js"></script>
		<script src="/static/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<style>
		.login-layout {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			padding-top:120px;
		}

		.login-container {
			position:relative;
			top: calc(50% - 92px);
		}
		.error-message {
			margin: 10px 0;
			color: #db4437;
		}

	</style>
	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1	">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span>Login</span>
								</h1>	
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">

											<div class="space-6"></div>

											

											<fieldset>

												<form method="POST">
													{{ form.hidden_tag() }}

				<!-- label for username -->			<div class="block clearfix" style="width:100%;">
														
														<div class = "error-message">
														{% for message in get_flashed_messages() %}
															{{message}}
														{% endfor %}
														</div>


														{{ form.username.label }} <br>
														
														{% if form.username.errors %}
															{% for error in form.username.errors %} 
															<p class="error-message"> {{ error }}</p>
															{% endfor %}
														{% endif %}

														{{ form.username }}
													</div>
												
				<!-- label for password-->
													<div class="block clearfix" style="width:100%;">
														{{ form.password.label }} <br>

														{% if form.password.errors %}
															{% for error in form.password.errors %} 
															<p class="error-message"> {{ error }}</p>
															{% endfor %}
														{% endif %}

														{{ form.password }}
													</div>
				<!-- label for role  -->
													{{ form.role.label }} <br>
													{% for subfield in form.role %} 
													<tr>

														<td>{{ subfield }}</td>
														<td>{{ subfield.label }}</td>
														<br>
													</tr> 
														{% if form.role.errors %}
															<!-- {% for error in form.role.errors %}  -->
															
															<p class="error-message"> {{ error }}</p>
															
														<!-- 	{% endfor %} -->
														{% endif %}
														
													{% endfor %}


													{{ form.submit(class="width-35 pull-right btn btn-sm btn-primary") }}

													
													
												</form>


												<!-- <label class="block clearfix" style="width:100%;">
													<span class="block input-icon input-icon-right">
														<input type ="radio" name="supervisor" value="supervisor">Supervisor
														<input type ="radio" name="supervisor" value="attendant">Attendant -->

														<!-- <i class="ace-icon fa fa-user"></i> -->
													<!-- </span> -->
												<!-- </label> -->

												<!-- <div class="space"></div>

												<div class="clearfix">
													<label class="inline">
														<input type="checkbox" class="ace" />
														<span class="lbl"> Remember Me</span>
													</label>

												</div> -->


												<div class="space-4"></div>
											</fieldset>
											

										</div> 

									</div> 
								</div> 

							</div> 
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="/static/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
			
			
			
			// //you don't need this, just used for changing background
			// jQuery(function($) {
			//  $('#btn-login-dark').on('click', function(e) {
			// 	$('body').attr('class', 'login-layout');
			// 	$('#id-text2').attr('class', 'white');
			// 	$('#id-company-text').attr('class', 'blue');
				
			// 	e.preventDefault();
			//  });
			//  $('#btn-login-light').on('click', function(e) {
			// 	$('body').attr('class', 'login-layout light-login');
			// 	$('#id-text2').attr('class', 'grey');
			// 	$('#id-company-text').attr('class', 'blue');
				
			// 	e.preventDefault();
			//  });
			//  $('#btn-login-blur').on('click', function(e) {
			// 	$('body').attr('class', 'login-layout blur-login');
			// 	$('#id-text2').attr('class', 'white');
			// 	$('#id-company-text').attr('class', 'light-blue');
				
			// 	e.preventDefault();
			//  });
			 
			// });
		</script>
	</body>
</html>
