<nav class="navbar navbar-default" style="border-radius: 0px;" roles="navigation">
  	<div class="container-fluid">

		<!-- NAVBAR TITLE -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="Ascott" src="/static/img/favicon.png"></a>
        </div>

        <!-- Collect nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


							<!-- Log Viewer dropdown -->
							<li class="dropdown">			
									<a href="" class="dropdown-toggle" data-toggle="dropdown">
						      	Log Viewer <b class="caret"></b>
						      </a>
									<ul class="dropdown-menu">
											<!-- Dropdown links start -->
											<li>
												<a href="1">Interface (DIG)</a>
											</li>
											<li>
												<a href="2">Studio</a>
											</li>
											<li>
												<a href="3">Alert</a>
											</li>
											<li>
												<a href="4">ReportWorker / Portal</a>
											</li>
											<li>
												<a href="5">Uncategorised</a>
											</li>
											<!-- Dropdown links end -->
									</ul>
							</li>

							<!-- Performance -->
							<li>
						  	<a href="6">Performance</a>
							</li>

							<!-- Function Calls -->
							<li>
						  	<a href="7">Function Calls</a>
							</li>

							<!-- DaveModelCheck (Dangling References) -->
							<li>
						  	<a href="8">DaveModelCheck</a>
							</li>


            </ul>

						<!-- Auto-refresh -->
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">			
								<a href="" class="dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-refresh"></span><span id="refreshInterval"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href='javascript:;' onclick='changeRefreshInterval(0);'>Off</a></li>
									<li role="seperator" class="divider"></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(60);'>1 minute</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(120);'>2 minutes</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(300);'>5 minutes</a></li>
									<li role="seperator" class="divider"></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(600);'>10 minutes</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(900);'>15 minutes</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(1800);'>30 minutes</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(2700);'>45 minutes</a></li>
									<li><a href='javascript:;' onclick='changeRefreshInterval(3600);'>60 minutes</a></li>
								</ul>
							</li>
						</ul>

        </div>

    </div>
</nav>