html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:10px;
}

#body {
  height: 100%;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#ddd;
}

.content {
  height: 100%;
}

.button-wrapper {
  padding: 0px auto 15px auto;
  width: 100%;
}

.modal {
   position: fixed;
   z-index: 20;
   display: none;
   top: 0;
   left:0;
   width: 100% !important;
   height: 100% !important;
   background: rgba(0,0,0,0.5);
}

.modal .qty-display {
    width: 180px;
    margin: 0 auto;
    z-index: 99999;
}

.modal .qty-display input {
    width: 180px;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 5px;
}

.mobile-icon-list {
  min-height: 132.41px;
}

.mobile-icon-detail {
  line-height: 18px;
  padding: 10px 0;
}

.mobile-icon-detail img {
  /*width: 50px;*/
  height: 70px;
  max-width: 70px;
  margin-bottom: 5px;
  position: relative;
  top: 20%;
}

.mobile-icon-detail .name {
  color: #000;
  height: 37px;
  position: relative;
  bottom: 15%;
  width: 100%;
  padding: 0 10% 0 10%;
  text-transform: capitalize;
  vertical-align: middle;
}


.sidebar-wrapper .nav {
  list-style: none;
}

.navbar .container-fluid {
  height: 65px;
}

.navbar-header .navbar-toggle {
  margin: 10px 15px 10px 0;
  width: 40px;

  display: block; }
 
.navbar-header .collapse, .navbar-toggle {
  display: block !important; }
 

.navbar-header {
  float: none; 
  font-size: large;
  margin-top: 25px;
  margin-bottom: 10px;
}

.sup-view .font-icon-list {
  padding-left: 20px;
  padding-right: 20px;
}

.alert {
  min-height: 120px;
  border-radius: 6px !important;
}

.alert .img-wrapper {
  float: left;
  max-height: 100px;
  margin-bottom: 5px;
  width: 50%;
  line-height: 100px;

}

.alert .img-wrapper img {
  max-height: 90px;
  max-width: 100%;

}

.alert-group {
  width: calc(50%);
  float: left;
  align-content: center;
  vertical-align: middle;
  padding-left: 10px;
  position: relative;
  top: 10px
  right: 0px;
}

.alert .alert-label {
  max-height: 41px;
  text-align:center;
  color: #eee;
  margin: 10px auto;
  overflow: hidden;
}

.alert .alert-number {
  font-size: 24pt;
  width: 100%;
  color: #eee;
  position: relative;
  bottom: 10px;
  text-align:center;
}

.alert-danger {
  background-color: #ff000f;
}

.alert-warning {
  background-color: #fcab03;
}

.btn-wrapper {
  width: 100%;
  text-align: center;

}

.btn-wrapper button {
  margin: 10px 0 25px 10px;
  width: calc(100% - 20px);

}

span.cart-group {
  float: right !important;
  position: absolute;
  top: 15px;
  right: 25px;
  /*margin: 15px 25px 15px 0;*/
}

span.cart-group img {
  max-width: 40px;
  max-height: 30px;
  margin-right: -7px;
  z-index: 1;
}

.cart-icon .cart-notif {
  float:right;
  width: 14px;
  height: 14px;
  background-color: red;
  border: 1px solid red;
  border-radius: 8px;
  margin-top: -3px;
  z-index: 2;
  position: relative;
}

.cart-icon .cart-notif .cart-qty {
  color: white;
  z-index: 9;
  position: relative;
  top: -7px;
  right: -3px;
  font-size: x-small;
}

.modal-pic {
  width: 100%;
}

.modal-pic img {
  max-width: 180px;
  margin-bottom: 20px;
}

.btn-success {
  border-color: #4a960a;
  color: #204c00;
}

div.modal .modal-header h4 {
  margin: 0px;
}

.qty-display.form-group label, 
.qty-display.form-group input {
  float:left;
}

.qty-display.form-group input {
  max-width: 60px;
}
