.content {
  height: 100%;
}

.button-wrapper {
  padding: 0px auto 15px auto;
  width: 100%;
}

.mobile-icon-list {
  padding: 0px;
}

.mobile-icon-detail {
  vertical-align:middle;
}

.mobile-icon-detail img {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
  float:left;
  margin-right: 20px;
}

.mobile-icon-detail .name {
  color: #000;
  height: 12vh;
  padding-top: 3vh;
  position: relative;
  text-transform: capitalize;
  float:left;
  width: calc(100% - 90px);
  text-align: left;
  color: #1d4262;
}


.sidebar-wrapper .nav {
  list-style: none;
}


.sup-view .font-icon-list {
  padding-left: 20px;
  padding-right: 20px;
}

.alert {
  border-radius: 6px !important;
}

.alert .img-wrapper {
  float: left;
  max-height: 100px;
  margin-bottom: 5px;
  width: 50%;
  line-height: 100px;

}

.alert .img-wrapper img {
  max-height: 90px;
  max-width: 100%;

}

.alert-group {
  width: calc(50%);
  float: left;
  align-content: center;
  vertical-align: middle;
  padding-left: 10px;
  position: relative;
  top: 10px
  right: 0px;
}

.alert .alert-label {
  max-height: 41px;
  text-align:center;
  color: #eee;
  margin: 10px auto;
  overflow: hidden;
}

.alert .alert-number {
  font-size: 24pt;
  width: 100%;
  color: #eee;
  position: relative;
  bottom: 10px;
  text-align:center;
}

.alert-success {
  background-color: #65e82c;
}

.btn-wrapper {
  width: 100%;
  text-align: center;

}

.btn-wrapper button {
  margin: 10px 0 25px 10px;
  width: calc(100% - 20px);

}

span.cart-group {
  float: right !important;
  position: absolute;
  top: 15px;
  right: 25px;
  /*margin: 15px 25px 15px 0;*/
}

span.cart-group img {
  max-width: 40px;
  max-height: 30px;
  margin-right: -7px;
  z-index: 1;
}

.cart-icon .cart-notif {
  float:right;
  width: 14px;
  height: 14px;
  background-color: red;
  border: 1px solid red;
  border-radius: 8px;
  margin-top: -3px;
  z-index: 2;
  position: relative;
}

.cart-icon .cart-notif .cart-qty {
  color: white;
  z-index: 9;
  position: relative;
  top: -0.7em;
  right: -3px;
  font-size: x-small;
}

.cart-item td input {
  max-width: 60px !important;
}

.modal-pic {
  width: 100%;
}

.modal-pic img {
  max-width: 180px;
  margin-bottom: 20px;
}

div.modal .modal-header h4 {
  m/*argin: 0px;
  co*/lor: #1d4262;
}

.qty-display.form-group label, 
.qty-display.form-group input {
  float:left;
}

.qty-display.form-group input {
  max-width: 60px;
}

#cartModal table tbody tr img {
  max-width: 50px;
}


.modal .qty-display input[type=radio] {
  width: auto;
  margin: 10px 3px 0 10px;
}

#cartModal table tbody tr input[type=number] {
  padding: 0 0 0 3px;
  margin-bottom: 5px;
  max-width: 40px;
  margin-right: 5px;
}