{% extends "base2.html" %}

{% block content %}

<style>
/*.active{
    padding-left: 20px;
}

.tab-content{
    padding-left: 10px;
}

.error-message {
    margin: 10px;
    color: #db4437;
}*/
</style>


<body>

<div class="container">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">New User</a></li>
    <li role="presentation"><a href="#item" aria-controls="item" role="tab" data-toggle="tab">New Item</a></li>
    <li role="presentation"><a href="#group" aria-controls="group" role="tab" data-toggle="tab">New Tag</a></li>
    <li role="presentation"><a href="#existitem" aria-controls="existitem" role="tab" data-toggle="tab">Assign Item to Tag</a></li>

</ul>

<div class="tab-content">

    <div role="tabpanel" id="summary" class="container-fluid tab-pane fade in active">
        <h3>HOME</h3>

        <h4>{{_('Current Users')}}</h4>

        <div class="table-responsive">
            <table class="table">
                <thead>

                    <th>{{_('Name')}}</th>
                    <th>{{_('Role')}}</th>
                </thead>

                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.role }}</td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <h4>{{_('Storerooms')}}</h4>


        {% for key, values in group.iteritems() %}

        <!--find a way to create a button-->
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ key }}" aria-expanded="false" aria-controls="collapseExample">{{ key }}</button>
        <div class="collapse" id="{{ key }}">

            <ul class="list-group">

                {% for i in values %}
                    <li class="list-group-item"><a href="/{{g.current_lang}}/inventory/{{i[1]}}"> {{ i[0].encode('ascii') }} </a></li>

                {% endfor %}


            </ul>

        </div>

        {% endfor %}


    </div>



<!-- ******************* NEW USER TAB *****************************-->
    <div role="tabpanel" id="user" class="container-fluid tab-pane fade">

        <h3>Create A New User</h3>
        <form method="POST" action="/{{g.current_lang}}/admin" >
            {{ form.hidden_tag() }}
            <input type="hidden" name="name-form" value='form')>


        <div class="row form-group">
            {{ form.name.label }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form.name(class="form-control", placeholder="Name of User")}}
            </div>
        </div>


        <div class="row form-group">
            {{ form.username.label }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form.username(class="form-control", placeholder="Username") }}
            </div>
        </div>


        <div class="row form-group">
            {{ form.password.label }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form.password(class="form-control", placeholder="Password") }}
            </div>
        </div>


        <div class="row form-group">
            {{ form.role.label }} <br>
            {% for subfield in form.role %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                    <br>
                </tr>
            {% endfor %}
        </div>
        <br>

        <div class="row form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                 </ul>
                {% endif %}
            {% endwith %}
        </div>

        {{ form.submit(class="width-35 pull-right btn btn-sm btn-primary") }}


        </form>

    </div>

<!--#........................TAB3.............................  -->

    <div role="tabpanel" id="item" class="container-fluid tab-pane fade">
        <h3>Add A New Item</h3>
        <form method="POST" id="newItemForm" action="/{{g.current_lang}}/admin" enctype=multipart/form-data >
            {{ form2.hidden_tag() }}
            <input type="hidden"  name="name-form" value='form2' >

        <div class="row form-group">
            {{ form2.itemname.label }}
            {% if form2.itemname.errors %}
                {% for error in form2.itemname.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div id="add-item-name" class="form-group">
            {{ form2.itemname(class="form-control", placeholder="Name of Item")}}
            </div>
        </div>

        <div class="row form-group">
            {{ form2.category.label }}
            {% if form2.category.errors %}
                {% for error in form2.category.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form2.category(class="form-control")}}
            </div>
        </div>

        <div class="input-group" style="margin-bottom: 20px;">
            <label class="input-group-btn">
                <span class="btn btn-default">
                    Upload photo&hellip;<input type="file" name="photo" style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control" disabled>
        </div>

        <div class="row form-group">
            {{ form2.reorderpt.label }}
            {% if form2.reorderpt.errors %}
                {% for error in form2.reorderpt.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form2.reorderpt(class="form-control", placeholder="Input Min. Stock to Order") }}
            </div>
        </div>




        <div class="row form-group">
            {{ form2.price.label }}
            {% if form2.price.errors %}
                {% for error in form2.price.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form2.price(class="form-control", placeholder="Unit Price") }}
            </div>
        </div>


        <div class="row form-group">
            {{ form2.count_unit.label }}
            {% if form2.count_unit.errors %}
                {% for error in form2.count_unit.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div id="add-item-name" class="form-group">
            {{ form2.count_unit(class="form-control", placeholder="eg. carton, pc, kg")}}
            </div>
        </div>

        <div class="row form-group">
            {{ form2.order_unit.label }}
            {% if form2.order_unit.errors %}
                {% for error in form2.order_unit.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div id="add-item-name" class="form-group">
            {{ form2.order_unit(class="form-control", placeholder="eg. carton, pc, kg")}}
            </div>
        </div>

        <div class="row form-group">
            {{ form2.order_multiplier.label }}
            {% if form2.order_multiplier.errors %}
                {% for error in form2.order_multiplier.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form2.order_multiplier(class="form-control", placeholder="Items in each order") }}
            </div>
        </div>

        <div class="row form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                 </ul>
                {% endif %}
            {% endwith %}
        </div>

        {{ form2.submitTwo(class="width-35 pull-right btn btn-sm btn-primary") }}


        </form><br/>

    </div>

<!--#........................TAB4.............................  -->
    <div role="tabpanel" id="group" class="container-fluid tab-pane fade">
        <form method="POST" action="/{{g.current_lang}}/admin">
            {{ form.hidden_tag() }}
            <input type="hidden"  name="name-form" value='form3' >
        <h3> Add a New Tag</h3>
        <div class="row form-group">
            {{ form3.tname.label }}
            {% if form3.tname.errors %}
                {% for error in form3.tname.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form3.tname(class="form-control", placeholder="Name of new tag")}}
            </div>
        </div>

        <div class="row form-group">
            {{ form3.location.label }}
            {% if form3.location.errors %}
                {% for error in form3.location.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form3.location(class="form-control", placeholder="Location of storeroom") }}
            </div>
        </div>


        <div class="row form-group">
            {{ form3.remarks.label }}

            <div class="form-group">
            {{ form3.remarks(class="form-control", placeholder="Remarks (optional)")}}
            </div>
        </div>

        <div class="row form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                 </ul>
                {% endif %}
            {% endwith %}
        </div>

        {{ form3.submitThree(class="width-35 pull-right btn btn-sm btn-primary") }}

        </form>

    </div>


<!--#........................TAB5.............................  -->
    <div role="tabpanel" id="existitem" class="container-fluid tab-pane fade">
        <form method="POST" action="/{{g.current_lang}}/admin">
            {{ form.hidden_tag() }}
            <input type="hidden"  name="name-form" value='form4'>
        <h3> Assign Item to Tag</h3>


        <div class="row form-group">
            {{ form4.itemname.label }}
            {% if form4.itemname.errors %}
                {% for error in form4.itemname.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div id="add-item-name" class="form-group">
            {{ form4.itemname(class="form-control typeahead", placeholder="Name of Existing Item")}}
            </div>
        </div>


        <div class="row form-group">
            {{ form4.location.label }}
            {% if form4.location.errors %}
                {% for error in form4.location.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form4.location(class="form-control")}}
            </div>
        </div>


        <div class="row form-group">
            {{ form4.tname.label }}
            {% if form4.tname.errors %}
                {% for error in form4.tname.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form4.tname(class="form-control")}}
            </div>
        </div>


        <div class="row form-group">
            {{ form4.qty.label }}
            {% if form4.qty.errors %}
                {% for error in form4.qty.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
            {{ form4.qty(class="form-control", placeholder="Quantity Available") }}
            </div>
        </div>


        <div class="row form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                 </ul>
                {% endif %}
            {% endwith %}
        </div>

            {{ form4.submitFour(class="width-35 pull-right btn btn-sm btn-primary") }}

        </form>

    </div>


</div>

</div>

<script>
$(function() {

  // Attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // Watch for our custom `fileselect` event
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
</script>


<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var all_items = {{ item_list|safe }};

$('#add-item-name .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'all_items',
  source: substringMatcher(all_items)
});

</script>


</body>
{% endblock %}
