<!DOCTYPE html>
<html>
<head>

    <!-- Metadata -->
    <title>{{_('Inventory Management')}} | Ascott</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="Login">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!-- JQuery JS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>

</head>
<body>

    <style>
        body {background:#f7f7f7;}
    </style>

    <!-- content block -->
    {% block content %}{% endblock %}

</body>
</html>
