{% extends "v2/base.html" %}


{% block title %}Overview{% endblock %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <style>
                .all-icons .sup-detail input{
                    color: #f30615;
                }
            </style>

            <div class="col-md-12">
                <div class="card">
                    <a href="{{url_for('inventory')}}"><div class="header">
                        <h4 class="title">Running Low</h4>
                        <p class="category"></p>
                    </div></a>
                    <div class="content all-icons">
                        <div class="row">
                            <div class="sup-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <a href="/inventory/Ascott%20Pen">
                                    <div class="sup-detail alert alert-danger">
                                        <div class="img-wrapper">
                                            <img src="/static/img/items/Guest Supplies/Ascott Pen.jpg"/>
                                        </div>
                                        <div class="alert-group">
                                            <div class="alert-label">Pen</div>
                                            <div class="alert-number">47</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="sup-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-12">
                                <a href="/inventory/Shaving%20Kit">
                                    <div class="sup-detail alert alert-danger">
                                        <div class="img-wrapper">
                                            <img src="/static/img/items/Guest Supplies/Shaving Kit.jpg"/>
                                        </div>
                                        <div class="alert-group">
                                            <div class="alert-label">Shaving Kit</div>
                                            <div class="alert-number">50</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="sup-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-12">
                                <a href="/inventory/Milk">
                                    <div class="sup-detail alert alert-danger">
                                        <div class="img-wrapper">
                                            <img src="/static/img/items/Guest Hampers/Milk (1L).jpg"/>
                                        </div>
                                        <div class="alert-group">
                                            <div class="alert-label">Milk</div>
                                            <div class="alert-number">26</div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <a href="/logs"><div class="header">
                        <h4 class="title">Recent Activity</h4>
                        <p class="category">Latest inventory movement</p>
                    </div></a>
                    <div class="">
                        <table id="recent">
                            <thead>
                                <th>Name</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>In/Out</th>
                                <th>Date-Time</th>
                                <th>Qty Left</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ah Moi</td>
                                    <td>Conditioner</td>
                                    <td>3</td>
                                    <td>Out</td>
                                    <td>3 minutes ago</td>
                                    <td>98</td>
                                </tr>
                                <tr>
                                    <td>Nisha</td>
                                    <td>Shampoo</td>
                                    <td>5</td>
                                    <td>Out</td>
                                    <td>2 hours ago</td>
                                    <td>134</td>
                                </tr>
                                <tr>
                                    <td>Sok Ting</td>
                                    <td>Toothbrush</td>
                                    <td>10</td>
                                    <td>Out</td>
                                    <td>At 4pm yesterday</td>
                                    <td>253</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="footer">
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                table {
                    margin-bottom: 0 !important;
                }

                td:first-child {
                    padding-left: 5px !important;
                }
            </style>
        </div>
    </div>
</div>

<script>
$(document).ready(function() { 
    $("#recent").tablesorter({
        sortList: [[4,1]],
        showProcessing: true,
        widgets: ["filter"]
    }); 
});
</script>

{% endblock %}