{% extends "v2/base.html" %}

{% block content %}
<style>

a.thumbnail {
    border: 1.5px solid #ddd;
}

a.thumbnail > img {
    max-width: 120px;
}

.sup-view .font-icon-list {
  padding-left: 20px;
  padding-right: 20px;
}

.overview-item-group {
  min-height: 120px;
}

.overview-item-img {
  float: left;
  max-height: 100px;
  margin-bottom: 5px;
  width: calc(40%);
}

.overview-item-img img {
  max-height: 90px;
  max-width: 100%;
  vertical-align: middle;
}

.alert-group {
  width: calc(60%);
  float: left;
  align-content: center;
  vertical-align: middle;
  padding-left: 10px;
  position: relative;
    display: inline-block;
}

.overview-item-label {
  max-height: 41px;
  /*text-align:center;*/
  margin: 10px auto;
  overflow: hidden;
}

.overview-item-number {
  font-size: 24pt;
  width: 100%;
  position: relative;
  bottom: 10px;
  /*text-align:center;*/
  margin-top: 10px;
}

.alert {
  min-height: 120px;
}

.alert-danger {
    border: 2px solid  #EA4858;
  /*background-color: #EA4858;*/
  background-color: white;
}

.alert-warning {
    border: 2px solid #ffc600;
  /*background-color: #ffc600;*/
  background-color: white;

}
</style>

<div class="container">

<!-- 1st header: Low inventory -->
<div class="row">
<div class="col-xs-7">
    <h3 style="margin-bottom:0px;">{{_('Low inventory')}}</h3>
</div>
<div class="col-xs-5">
    <div class="pull-right" style="margin-top:25px;">
        <a href="inventory">{{_('View all items')}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </div><!-- /input-group -->
</div>
</div><hr>

<!-- If no items running low, display this text -->
{% if not items %}
<div class="col-md-12 text-center">
    <h3 class="text-info">{{_('No items in need of restocking')}}</h3>
</div>
{% endif %}

<!-- If there are items running low, display those items -->
<div class="row" style="margin-left:0; margin-right:0">
<div id="overview-item-outer">
{% for i in items %}
<a href="/{{g.current_lang}}/inventory/{{i.sku}}">
  <div class="font-icon-list col-lg-4 col-md-4 col-sm-6 col-xs-12" style="">
    <div class="overview-item-group alert {% if i.qty_left > i.reorder_pt and i.qty_left <= 1.2*i.reorder_pt %}alert-warning{% endif %}{% if i.qty_left <= i.reorder_pt%}alert-danger{% endif %}">
      <div class="overview-item-img" align='center'>
        <img src="/static/img/items/{{i.category}}/{{i.picture}}"/>
      </div>
      <div class="alert-group pull-right">
        <div class="overview-item-label">{{i.name}}</div>
        <div class="overview-item-number">{{i.qty_left}}</div>
      </div>
    </div>
  </div>
</a>
{% endfor %}
</div></div>

<!-- 2nd header: Today's transactions -->
<div class="row">
<div class="col-xs-7">
    <h3 style="margin-bottom:0px;">{{_("Today's transactions")}}</h3>
</div>
<div class="col-xs-5">
    <div class="pull-right" style="margin-top:25px;">
        <a href="logs">{{_('View more')}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </div><!-- /input-group -->
</div>
</div><hr>

<!-- Table of transactions -->
<div class="col-md-12" style="margin-bottom:30px;"><table id="recent">
    <thead>
        <th>Name</th>
        <th>Item</th>
        <th>Qty</th>
        <th>In/Out</th>
        <th>Date-Time</th>
        <th>Qty Left</th>
    </thead>
    <tbody>
    {% for log in l %}
        <tr>
                                <td>{{log.name}}</td>
                                <td>{{log.item}}</td>
                                <td>{{log.category}}</td>
                                <td>{{log.action}}</td>
                                <td>{{log.move}}</td>
                                <td>{{log.remaining}}</td>
                                <td>{{log.dateTime}}</td>
                                <td>{{log.location}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table></div>



</div><!-- /.container -->

<script>
$(document).ready(function() { 

    // initialise log table
    $("#recent").tablesorter({
        sortList: [[4,1]],
        showProcessing: true,
        widgets: ["filter"]
    });

});
</script>

{% endblock %}