{% extends "base.html" %}
{% block sidebar %}
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="" class="simple-text" style="text-align:left;">
        <i class="pe-7m-user" style="font-size:30px;padding-left:12px"></i>
            Supervisor
        </a>
    </div>

    <ul class="nav">
        <li>
            <a href="/dashboard">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="active">
            <a href="/inventory">
                <i class="pe-7s-rocket"></i>
                <p>Inventory</p>
            </a>
        </li>
        <li>
            <a href="/logs">
                <i class="pe-7s-news-paper"></i>
                <p>Logs</p>
            </a>
        </li>
                <li>
            <a href="/tasks">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
            </a>
        </li>
        
    </ul>
</div>
{% endblock %}

{% block title %}Inventory{% endblock %}

{% block content %}
<style>
  .alert {
    min-height: 110px;
  }
  .alert img {
    float: left;
    height: 90px;
    max-width: 90px;
  }

  .alert .alert-label {
    /*font-size: 24pt;*/
    padding: 10px 10px;
    float: left;
    height: inherit;
    width: calc(100% - 100px);
    text-align:center;
  }

  .alert .alert-label span {
    font-size: 24pt;
  }



  .buttons {
    padding: 15px;
  }

  .btn-block {
    width: 49%;
    float:left;
  }

  #btn_newItem {
    margin-top: 0;
  }

  #btn_getData {
    margin-right: 1% !important;
  }

</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
                <div class="card">
                    <button class="header accordion">
                        <h4 class="title">Guest Supplies</h4>
                    </button>
                    <div class="content all-icons panel">
                        <div class="row">
                          {% for item in supplies %}
                          <a href="inventory/{{item.name}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="inventory/{{item.name}}"><div class="alert alert-danger">
                              <img src="/static/img/items/Guest Supplies/{{item.file}}"/>
                              <div class="alert-label">{{item.name}}<br></div>
                            </div></a>
                          </div>
                          {% endfor %}
                            <a href="Guest Supplies">
                            <button class="btn btn-default btn-block" id="btn_getData" >Month Review</button></a>

                          </div>

                    </div>
                  </div>
                
                <div class="card">
                    <button class="header accordion">
                        <h4 class="title">Guest Hampers</h4>
                    </button>
                    <div class="content all-icons panel">
                        <div class="row">
                          {% for item in hampers %}
                          <a href="inventory/{{item.name}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="inventory/{{item.name}}"><div class="alert alert-warning">
                              <img src="/static/img/items/Guest Hampers/{{item.file}}"/>
                              <div class="alert-label">{{item.name}}<br></div>
                            </div></a>
                          </div>
                          {% endfor %}
                          <a href="Guest Hampers">
                          <button class="btn btn-default btn-block" id="btn_getData">Month Review</button></a>


                          </div>
                          
                        </div>
                    </div>
                <div class="card">
                    <button class="header accordion">
                        <h4 class="title">Kitchenware</h4>
                    </button>
                    <div class="content all-icons panel">
                        <div class="row">
                          {% for item in kitchenware %}
                          <a href="inventory/{{item.name}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="inventory/{{item.name}}"><div class="alert alert-warning">
                              <img src="/static/img/items/Kitchenware/{{item.file}}"/>
                              <div class="alert-label">{{item.name}}<br></div>
                            </div></a>
                          </div>
                          {% endfor %}
                          <a href="Kitchenware">
                          <button class="btn btn-default btn-block" id="btn_getData">Month Review</button></a>

                          </div>
                          
                    </div>
                </div>

                <!-- </div>
                </div>
            </div> -->

                </div>
            </div>


        </div>
        <div class="row buttons">
          
          <button class="btn btn-primary btn-block" id="btn_newItem">New Item</button>
        </div>
    </div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}

</script>

{% endblock %}