{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<style>

  .buttons {
    padding: 15px;
  }

  .btn-block {
    width: 49%;
    float:left;
  }

  #btn_newItem {
    margin-top: 0;
  }

  #btn_getData {
    margin-right: 1% !important;
  }

</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
        
          <div class="card sup-view">
              <button class="header accordion">
                  <h4 class="title">Guest Supplies</h4>
              </button>
              <div class="content all-icons panel">
                  <div class="row">
                    {% for item in supplies %}
                    <a href="{{item.name}}">
                      <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-danger">
                          <div class="img-wrapper" align='center'>
                            <img src="/static/img/items/Guest Supplies/{{item.file}}"/>
                          </div>
                          <div class="alert-group pull-right">
                            <div class="alert-label">{{item.name}}</div>
                            <div class="alert-number">{{item.remaining}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                  <div class="row">
                      <a href="Guest Supplies">
                        <div class="btn-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                          <button class="btn btn-default btn-block" id="btn_getData">Month Review</button>
                        </div>
                      </a>

                  </div>

              </div>
          </div>
          
          <div class="card sup-view">
              <button class="header accordion">
                  <h4 class="title">Guest Hamper</h4>
              </button>
              <div class="content all-icons panel">
                  <div class="row">
                    {% for item in hampers %}
                    <a href="{{item.name}}">
                      <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-warning">
                          <div class="img-wrapper" align='center'>
                            <img src="/static/img/items/Guest Hampers/{{item.file}}"/>
                          </div>
                          <div class="alert-group pull-right">
                            <div class="alert-label">{{item.name}}</div>
                            <div class="alert-number">{{item.remaining}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                  <div class="row">
                    <a href="Guest Hampers">
                      <div class="btn-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                        <button class="btn btn-default btn-block" id="btn_getData">Month Review</button>
                      </div>
                    </a>

                  </div>
                    
              </div>
          </div>

          <div class="card sup-view">
              <button class="header accordion">
                  <h4 class="title">Kitchenware</h4>
              </button>
              <div class="content all-icons panel">
                  <div class="row">
                    {% for item in kitchenware %}
                    <a href="{{item.name}}">
                      <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-warning">
                          <div class="img-wrapper" align='center'>
                            <img src="/static/img/items/Kitchenware/{{item.file}}"/>
                          </div>
                          <div class="alert-group pull-right">
                            <div class="alert-label">{{item.name}}</div>
                            <div class="alert-number">{{item.remaining}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                  <div class="row">
                    <a href="Kitchenware">
                    <div class="btn-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                      <button class="btn btn-default btn-block" id="btn_getData">Month Review</button>
                    </div></a>
                  </div>
                    
              </div>
          </div>

        </div>
        <!-- <div class="row buttons">
          
          <button class="btn btn-primary btn-block" id="btn_newItem">New Item</button>
        </div> -->

        <!-- DO NOT DELETE: FURTHER AUTOMATION IN PROGRESS -->
        <!-- {% for category in all_items %}
          <div class="card">
            <button class="header accordion">
                <h4 class="title">{{category}}</h4>
            </button>
            <div class="content all-icons panel">
                <div class="row">
                  {% for item in category %}
                  <a href="inventory/{{item.name}}"><div class="font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <a href="inventory/{{item.name}}"><div class="alert alert-danger">
                      <img src="/static/img/items/{{category}}/{{item.picture}}"/>
                      <div class="alert-label">{{item.name}}<br><span>{{item.remaining}}</span></div>
                    </div></a>
                  </div>
                  {% endfor %}
                    <a href="{{category}}">
                    <button class="btn btn-default btn-block" id="btn_getData">Month Review</button></a>

                  </div>

            </div>
          </div>
          {% endfor %} -->
    </div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}

</script>

{% endblock %}