{% extends "base2.html" %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/loading.css"/> -->

<style>
.ui-widget {
    font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    background: #fff;
}

.ui-datepicker {
    padding: 0;
    width: 233px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
}

.ui-datepicker-header {
    border: none;
    font-size: 80%;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #e0e8ec; /* layer fill content */
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
    box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient overlay */
}

.ui-datepicker-title {
    text-align: center;
    color: #515d65; /* text color */
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255,255,255,.8); /* drop shadow */

}

.ui-icon-circle-triangle-e {
    background-image: url(images/ui-icons_454545_256x240.png);
    background-position: -32px -16px;
}

.ui-icon-circle-triangle-w {
    background-image: url(images/ui-icons_454545_256x240.png);
    background-position: -96px -16px;
}

.ui-datepicker .ui-datepicker-prev{
    float: left;
    cursor:pointer;
    background-position: center -30px;
    font-size: 13px;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    cursor:pointer;
    background-position: center 0px;
    font-size: 13px;
}

.ui-state-default {
    background: transparent;
    border: none;
    color: #2b2b2b;
    font-family: "Myriad Pro";
    font-weight: normal;
    text-align: center;
}

.ui-datepicker-header .ui-state-hover {
    background: #bdc5c9;
}

.ui-datepicker table {
    margin: 0;
    width: 100%;
}

.ui-datepicker th {
    color: #9da7af;
    font-size: 12px;
    font-weight: normal;
    -moz-border-radius: 216px 0 0 0 / 0 0 0 0;
    -webkit-border-radius: 216px 0 0 0 / 0 0 0 0;
    border-radius: 216px 0 0 0 / 0 0 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.08);

}

.ui-datepicker td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%);

}

.ui-datepicker td:last-child {
    border-right: none;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    padding: .7em 0;
    color: #6a747a;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.ui-datepicker-calendar .ui-state-hover {
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.06) 100%);
}

.ui-state-active,
.ui-state-active.ui-state-hover {
    color: #fff;
    background-color: #8ab8ed;
    text-shadow: 0 1px 0 rgba(0,0,0,.26);
    -moz-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
    -webkit-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
    box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
}


</style>
<div class="container">
    
    {% if item %}
    <!-- INFO SIDEBAR -->
    <div class="col-md-3">

        <!-- Item branding -->
        <img src="/static/img/items/{{item[0].picture}}" alt="" class="img-rounded img-responsive hidden-xs hidden-sm">
        <h3 id="item-name" style="line-height:1.2; padding-bottom: 8px;">{{item[0].name}}</h3>

        <!-- Locations -->
        <p class=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px;"></span> {% for i in item %}
        {{i.location}}<br><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:20px; color:transparent;"></span> {% endfor %}</p>
        <hr style="margin-top:-20px;">

        <!-- Item is in use -->
        {% if item[0].reorder >= 0 %}
        <p class="text-success"><span class="glyphicon glyphicon-ok" style="font-size:16px;" aria-hidden="true"></span> {{_('Item is in use')}}</p>
        {% else %}
        <p class="text-danger"><span class="glyphicon glyphicon-remove" style="font-size:16px;" aria-hidden="true"></span> {{_('Item is discontinued')}}</p>
        {% endif %}

        {% if item[0].reorder >= 0 %}
        <!-- Change reorder points -->
        <button class="btn btn-default" style="margin-bottom: 5px; width:100%; background-color: #e6e6e6;" data-toggle="modal" data-target="#reorder-modal" id="#reorder-modal">{{_('Change minimum stock level')}}</button>

        <!-- Discontinue item -->
        <button class="btn btn-default" style="margin-bottom: 5px; width:100%; background-color: #e6e6e6;" data-toggle="modal" data-target="#discontinue-modal" id="#discontinue">{{_('Discontinue item')}}</button>

        {% else %}
        <!-- Reinstate item -->
        <button class="btn btn-default" style="margin-bottom: 5px; width:100%; background-color: #e6e6e6;" data-toggle="modal" data-target="#reinstate-modal" id="#reinstate">{{_('Reinstate item')}}</button>

        <!-- Remove item permanently -->
        <button class="btn btn-danger" style="margin-bottom: 5px; width:100%;" data-toggle="modal" data-target="#remove-modal" id="#remove">{{_('Remove item from system')}}</button>
        {% endif %}

        <!-- Change item price -->
        <!-- <button class="btn btn-default" style="width:100%; background-color: #e6e6e6;" data-toggle="modal" data-target="#price-settings" id="#price-settings">Price settings</button> -->

        <!-- Reorder qty -->
        {% if item[0].reorder >= 0 %}
        <h4 style="line-height:1.5;">{{_('Reorder when quantity reaches')}} <b style="font-size: 26px">{{item[0].reorder}}</b></h4>
        {% endif %}

        <!-- Unit price -->
        <h4 style="line-height:1.5; margin-bottom: 20px;">{{_('Unit price')}}:<b style="font-size: 26px"> $ {{item[0].price}}</b></h4>

    </div>
    <!-- END INFO SIDEBAR -->

    <!-- CHART MAIN CONTENT -->
	<div class="col-md-9">
        <h4>{{_('Quantity remaining')}}</h4>
        <div class="panel panel-default"><div class="panel-body">
            <div id="chart" style="height: 400px;"></div>
            {% if item[0].reorder >= 0 %}
            <button data-toggle="modal" data-target="#stock-update-modal" class="btn btn-default col-sm-12" style="background-color: #e6e6e6;">Update Stock</button>
            {% endif %}
            <!-- <div class="col-sm-4"><button class="btn btn-default " style="width:100%;;" id="btn_getData">Get Data</button></div>
    		<div class="col-sm-4">
    			<button class="btn btn-default" style="width:100%;" id="btn_delItem" data-toggle="modal" data-target="#delModal">Delete</button>
    		</div>
            <div id="update" style="display:none">
                <hr>
                <div class="stats" style="margin-left:10px; padding-top:7px;">
                    <i class="fa fa-history"></i> Last stock movement &mdash; 3 minutes ago
                </div>
            </div> -->
        </div></div>
    </div>
    <!-- END Chart display -->


    <!-- Modal #1 display -->
    <div id="delModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Remove Item From Location</h4>
                    </div>
                    <div class="modal-body">
                        <p>Select the locations that you want to remove the item from:</p>
                        <p class="text-danger">Please make sure the items have been physically removed.</p>
                        {% for i in item %}
                            <div class="checkbox-custom">
                                <input type="checkbox" id="checkbox1"/>
                                <label>{{i.location}}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal #1 display -->

    <!-- Reorder point modal display -->
    <div id="reorder-modal" class="modal fade" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content">
        <div class="modal-body">
            <form id="reorder-form">
                <div id="pred">
                <b>Choose minimum stock level for {{item[0].name}}</b>
                <div class="radio">
                  <label>
                    <input type="radio" name="manual-auto" id="pred-auto" value="auto" {% if item[0].reorder != 0 %}checked{% endif %}>
                    Automatic reordering prediction
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="manual-auto" id="pred-manual" value="manual" {% if item[0].reorder == 0 %}checked{% endif %}>
                    Manual input: <input type="text" class="form-control" id="pred-manual-qty" placeholder="Custom reorder point">
                  </label>
                </div></div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-default" id="submit-reorder" style="background-color: #e6e6e6;">Apply changes</button>
        </div>
    </div></div></div>
    <!-- END Reorder point modal display -->

    <!-- Discontinue item modal -->
    <div id="discontinue-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="reorder-form">
                    <div class="modal-body">
                        <p>Discontinuing this item will apply the following changes:</p>
                        <ul>
                            <li>Historical data of item's transactions <b>will</b> remain in the system</li>
                            <li>Item page <b>will</b> remain, retrievable via the Inventory tab</li>
                            <li>Minimum stock forecasting <b>will not</b> be applied on this item</li>
                            <li>Item <b>will not</b> show up in Overview tab when quantity is low</li>
                        </ul>
                        <p>Are you sure you want to discontinue <b>{{item[0].name}}</b>?<br><span class="text-info">This action can be reversed at any time</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Don't discontinue</button>
                        <button type="submit" class="btn btn-warning" id="discontinue-button">Discontinue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Discontinue item modal -->

    <!-- Reinstate item modal -->
    <div id="reinstate-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="reorder-form">
                    <div class="modal-body">
                        <p>Reinstating this item will apply the following changes:</p>
                        <ul>
                            <li>Historical data of item's transactions <b>will</b> remain in the system</li>
                            <li>Minimum stock forecasting <b>will</b> be applied on this item once again</li>
                            <li>Item <b>will</b> show up in Overview tab when quantity is low once again</li>
                        </ul>
                        <p>Are you sure you want to reinstate <b>{{item[0].name}}</b>?<br><span class="text-info">This action can be reversed at any time</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default" value="yes">Don't reinstate</button>
                        <button type="submit" class="btn btn-default" id="reinstate-button" style="background-color: #e6e6e6;">Reinstate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Reinstate item modal -->

    <!-- Remove item modal -->
    <div id="remove-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="reorder-form">
                    <div class="modal-body">
                        <p>Removing this item will apply the following changes <span class="text-danger">PERMANENTLY</span>:</p>
                        <ul>
                            <li>Historical data of item's transactions <b>will</b> remain in the system via the Logs tab</li>
                            <li>Item page <b>will not</b> remain in the system at all</li>
                            <li>Item <b>will not</b> show up in Overview tab when quantity is low</li>
                        </ul>
                        <p>Are you sure you want to remove <b>{{item[0].name}}</b>?<br><span class="text-danger">This action cannot be reversed</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Don't remove</button>
                        <button type="submit" class="btn btn-danger" value="no" id="remove-button">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Remove item modal -->

    

    <!-- Update Stock Modal -->
    <div id="stock-update-modal" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog" role="document"><div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{_('Update stock')}} - {{item[0].name}}</h4>
        </div>
        <form id="stockUpdateForm" method="POST">
            <div class="modal-body">
                <div style="margin-bottom:20px;">
                    <img class="img-responsive img-rounded center-block" style="max-height:150px;" src='/static/img/items/{{item[0].picture}}'/>
                </div>
                    <div class="text-center">
                        <select name="location" class="form-control" style="width:50%; margin:0 auto;">
                            {% for l in item %}
                            <option value={{l.location}}>{{l.location}}</option>
                            {% endfor %}
                        </select><br>                    
                        <input type="number" class="form-control" name="qty" id="qty" min="0" placeholder="{{_('Quantity')}}" style="width:50%; margin:0 auto;">
                        <br>
                        <label class="radio-inline">
                          <input type="radio" name="action" value="in"> {{_('In')}}
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="action" value="out" checked> {{_('Out')}}
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="action" value="check"> {{_('Stocktake')}}
                        </label>
                        <!-- <input type="radio" name="action" value="in" /> {{_('In')}}
                        <input type="radio" name="action" value="out" checked/> {{_('Out')}}
                        <input type="radio" name="action" value="check" /> {{_('Stocktake')}} -->
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
                <button type="submit" class="btn btn-default" style="background-color: #e6e6e6;">{{_('Submit')}}</button>
            </div>
        </form>
    </div></div></div>
    <!-- END Update Stock Modal -->


    <!-- Error: If ItemID not in system -->
    {% else %}
    <div class="col-md-12 text-center">
        <h3 class="text-info">{{_('Item ID not in system')}}</h3>
        <p>{{_('The item requested may have been removed')}}</p>
    </div>
    {% endif %}
    



</div>
<script>

// Function to prevent negative number input
$(function() {
    var number = $("#stockUpdateForm #qty");
    number.onkeydown = function(e) {
        if(!((e.keyCode > 95 && e.keyCode < 106)
          || (e.keyCode > 47 && e.keyCode < 58)
          || e.keyCode == 8)) {
            return false;
        }
    }
})



function editReorder(form) {
    $.ajax({
        type: "POST",
        url: "/api/editReorder",
        data: JSON.stringify(form),
        dataType: "json",
        contentType: "application/json",
        async: false,
        success: function(response, status, jqXHR) {
            // empty function
        }
    });
}

$('#reorder-form').submit(function(event) {
    var reorder = {
        "name": "{% if item %}{{item[0].name}}{% endif %}",
        "tracking": $('input[name="on-off"]:checked').val(),
        "prediction": $('input[name="manual-auto"]:checked').val(),
        "qty": $('input[id="pred-manual-qty"]').val()
    };
    event.preventDefault();
    console.log(editReorder(reorder));
    location.reload();
});

$('#discontinue-button').click(function(event) {
    var reorder = {
        "name": "{% if item %}{{item[0].name}}{% endif %}",
        "tracking": "off",
        "reorder": -1,
        "qty": 0
    };
    event.preventDefault();
    editReorder(reorder);
    location.reload();
});

$('#reinstate-button').click(function(event) {
    var reorder = {
        "name":  "{% if item %}{{item[0].name}}{% endif %}",
        "tracking": "off",
        "reorder": 56,
        "qty": 0
    };
    event.preventDefault();
    editReorder(reorder);
    location.reload();
});


function getData(callback) {
    $.ajax({
        type: "POST",
        url: "/api/getChartData",
        data: JSON.stringify("{% if item %}{{item[0].name}}{% endif %}"),
        dataType: "json",
        contentType: "application/json",
        success: function(response, status, jqXHR) {
            var filtered = [];
            for (var c = 0; c < response.length; ++c) {
                filtered.push([new Date(response[c][0]).getTime(), response[c][1]]);
            }
            callback(filtered);
        }
    });
}

function initChart(dataSources) {
    Highcharts.stockChart('chart', {
        rangeSelector: {
            selected: 1
        },
        chart: {
            type: 'area'
        },
        // title: {
        //     text: '{% if item %}{{item[0].name}}{% endif %}'
        // },
        // subtitle: {
        //     text: 'Quantity remaining'
        // },
        // xAxis: {
        //     type: 'datetime',
        //     dateTimeLabelFormats: { // don't display the dummy year
        //         month: '%e. %b',
        //         year: '%b'
        //     },
        //     title: {
        //         text: 'Date'
        //     }
        // },
        tooltip: {
            // headerFormat: '<b>Quantity</b><br>',
            pointFormat: '<b>Quantity:</b> {point.y:.2f}'
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },

        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    enabled: false
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            series: {
                events: {
                  afterAnimate: function (ev) {
                    // console.log(data)
                    // console.log(ev)
                    // console.log('fired only once for each series');
                    // $("#update").css("display", "inline");
                    $("#update").fadeIn();
                  }
                }
            }
        },

        series: [{
            name: '{% if item %}{{item[0].name}}{% endif %}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: dataSources
        }]
    });
}

getData(initChart);

$(document).ready(function(){
    // insert any required code here

    $( "#datepicker" ).datepicker({ minDate: 0});


});

</script>
{% endblock %}
