{% extends "base.html" %}
{% block sidebar %}
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="" class="simple-text" style="text-align:left;">
        <i class="pe-7m-user" style="font-size:30px;padding-left:12px"></i>
            Supervisor
        </a>
    </div>

    <ul class="nav">
        <li>
            <a href="/">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="active">
            <a href="/inventory">
                <i class="pe-7s-rocket"></i>
                <p>Inventory</p>
            </a>
        </li>
        <li>
            <a href="/logs">
                <i class="pe-7s-news-paper"></i>
                <p>Logs</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
            </a>
        </li>
        
    </ul>
</div>
{% endblock %}

{% block title %}Inventory{% endblock %}

{% block content %}
<style>
    
  .buttons {
    padding: 15px;
  }

  .btn-success {
    color: #81eb50;
    border-color: #81eb50;
  }
</style>
<link rel="stylesheet" type="text/css" href="../static/css/loading.css"/>

<div class="content">
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-9">
			    <div class="card">
			        <div class="content">
                        <div id="chart" style="margin: 0 auto"></div>
			            <div class="footer" id="update" style="display:none">
                            <hr>
			                <div class="stats">
			                    <i class="fa fa-history"></i> Updated 3 minutes ago
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>

        <div class="row">
            <div class="col-md-3"><button class="btn btn-success btn-block" id="btn_getData">New Stock</button></div>
            <div class="col-md-3"><button class="btn btn-default btn-block" id="btn_getData">Get Data</button></div>
            <div class="col-md-3"><button class="btn btn-danger btn-block" id="btn_newItem">Use</button></div>
        </div>


    	
	</div>
</div>

<script>
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=new-intraday.json&callback=?', function (data) {

    // create the chart
    Highcharts.stockChart('chart', {

        chart: {
            events: {
                load: function () {
                    console.log("chart loaded");
                    $("#update").css("display", "inline");
                }
            }
        },

        title: {
            text: '{{item}}'
        },

        subtitle: {
            text: 'Quantity remaining'
        },

        xAxis: {
            gapGridLineWidth: 0
        },

        rangeSelector: {
            buttons: [{
                type: 'hour',
                count: 1,
                text: '1h'
            }, {
                type: 'day',
                count: 1,
                text: '1D'
            }, {
                type: 'all',
                count: 1,
                text: 'All'
            }],
            selected: 1,
            inputEnabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Quantity',
            type: 'area',
            data: data,
            gapSize: 5,
            tooltip: {
                valueDecimals: 2
            },
            fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            },
            threshold: null
        }],
        plotOptions: {
            series: {
                events: {
                  afterAnimate: function (ev) {
                    // console.log(data)
                    // console.log(ev)
                    // console.log('fired only once for each series');
                    $("#update").css("display", "inline");
                  }
                }
            }
        }
    });
});

$(document).ready(function(){
    // insert any required code here
});

</script>
{% endblock %}