<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Metadata -->
	<title>Inventory Management | Ascott</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="description" content="Login">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

	<!-- Fonts CSS -->
	<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>

	<!-- JQuery JS -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>


	<!-- Custom JS -->
	<!-- ace styles -->
	<!-- <link rel="stylesheet" href="/static/css/ace.min.css" /> -->

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="/static/css/ace-part2.min.css" />
	<![endif]-->
	<!-- <link rel="stylesheet" href="/static/css/ace-rtl.min.css" /> -->

	<!--[if lte IE 9]>
	  <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
	<![endif]-->

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="/static/js/html5shiv.min.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
<style>

body {
	background:#f7f7f7;
}


</style>
<div class="container-fluid text-center"><div class="row">
    <div class="col-md-4 col-md-offset-4 ">


    	<!-- Branding -->
    	<div class="row"><div class="col-md-12">
    		<img class="img-responsive center-block" style="height:250px;" src="/static/img/ascott.png"/>
    	</div></div>
    	<!-- END Branding -->


    	<!-- Error display -->
    	{% if form.username.errors %}
			{% for error in form.username.errors %} 
			<p class="checkbox text-danger">{{error}}</p>
			{% endfor %}
		{% endif %}
    	{% if form.password.errors %}
			{% for error in form.password.errors %} 
			<p class="checkbox text-danger">{{error}}</p>
		{% endfor %}
		{% endif %}
    	{% for message in get_flashed_messages() %}
			<p class="checkbox text-danger">{{message}}</p>
		{% endfor %}
		<!-- END Error display -->


    	<!-- Form -->
	    <div class="row form-group">
            <form role="form" method="POST" id="login-form">{{form.hidden_tag()}}
            	<!-- username input -->
                <div class="form-group">
                	{{ form.username(class="form-control", placeholder="Username") }}
                </div>
                <!-- password input -->
                <div class="form-group">
                	{{ form.password(class="form-control", placeholder="Password") }}
                </div>
                <!-- checkbox for storing userdata -->
                <div class="checkbox">
			        <label><input type="checkbox"> Remember me</label>
			    </div>
			    {{ form.submit(class="btn btn-primary", style="width:100%;") }}
            </form>
            <p class="checkbox">
            	<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
            </p>
        	<hr>
        	<p class="text-muted">&copy; The Ascott Limited | SUTD</p>
	    </div>
	    <!-- END Form -->


	</div> <!-- /.col-xs-12 -->
</div> <!-- /.row --></div> <!-- /.container -->

</body>
</html>