{% extends "base3.html" %}
{% block content %}

<div class="container-fluid text-center">
<div class="col-sm-6 col-sm-offset-3" style="margin-top:30px;">


    	<!-- Branding -->
		<div class="col-md-12">
    		<img class="img-responsive center-block" style="max-height:250px;" src="/static/img/ascott.png"/>
    	</div>
    	<!-- END Branding -->


    	<!-- Error display -->
    	{% if form.username.errors or form.password.errors or get_flashed_messages() %}
			<p class="checkbox text-danger">{{_('Username and/or password do not match records')}}</p>
		{% endif %}
		<!-- END Error display -->


    	<!-- Form -->
	    <div class="form-group center-block" style="max-width:300px;">
            <form role="form" method="POST" id="login-form">{{form.hidden_tag()}}
            	<!-- username input -->
                <div class="form-group">
                	{{ form.username(class="form-control", placeholder=_("Username")) }}
                </div>
                <!-- password input -->
                <div class="form-group">
                	{{ form.password(class="form-control", placeholder=_("Password")) }}
                </div>
                <!-- checkbox for storing userdata -->
                <div class="checkbox">
			        <label>{{ form.remember(checked="checked") }} {{_('Remember for one month')}}</label>
			    </div>
			    {{ form.submit(class="btn btn-primary", style="width:100%;", value=_("Login")) }}
            </form>
            <p class="checkbox">
            	<a href="/en/login" id="forget">English</a> &bull; 
            	<a href="/zh/login" id="forget">中文</a> &bull; 
            	<a href="/ms/login" id="forget">Bahasa Melayu</a> &bull; 
            	<a href="/ta/login" id="forget">தமிழ்</a>
            </p>
        	<hr>
        	<p class="text-muted">&copy; The Ascott Limited &bull; SUTD</p>
	    </div>
	    <!-- END Form -->

</div> <!-- /.col-sm-6 -->
</div> <!-- /.container-fluid -->

{% endblock %}