<!DOCTYPE html>
<html>
<head>

	<!-- Metadata -->
	<title>{{_('Inventory Management')}} | Ascott</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="description" content="Login">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

	<!-- Fonts CSS -->
	<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>

	<!-- JQuery JS -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>

</head>

<body>

<style>
body {
	background:#f7f7f7;
}
</style>

<div class="container-fluid text-center">
<div class="col-sm-6 col-sm-offset-3" style="margin-top:30px;">


    	<!-- Branding -->
		<div class="col-md-12">
    		<img class="img-responsive center-block" style="max-height:250px;" src="/static/img/ascott.png"/>
    	</div>
    	<!-- END Branding -->


    	<!-- Error display -->
    	{% if form.username.errors or form.password.errors or get_flashed_messages() %}
			<p class="checkbox text-danger">{{_('Username and/or password do not match records')}}</p>
		{% endif %}
		<!-- END Error display -->


    	<!-- Form -->
	    <div class="form-group center-block" style="max-width:300px;">
            <form role="form" method="POST" id="login-form">{{form.hidden_tag()}}
            	<!-- username input -->
                <div class="form-group">
                	{{ form.username(class="form-control", placeholder=_("Username")) }}
                </div>
                <!-- password input -->
                <div class="form-group">
                	{{ form.password(class="form-control", placeholder=_("Password")) }}
                </div>
                <!-- checkbox for storing userdata -->
                <div class="checkbox">
			        <label>{{ form.remember(checked="checked") }} {{_('Remember for one month')}}</label>
			    </div>
			    {{ form.submit(class="btn btn-primary", style="width:100%;", value=_("Login")) }}
            </form>
            <p class="checkbox">
            	<a href="/en/login" id="forget">English</a> | 
            	<a href="/zh/login" id="forget">中文</a> | 
            	<a href="/ms/login" id="forget">Bahasa Melayu</a> | 
            	<a href="/ta/login" id="forget">தமிழ்</a>
            </p>
        	<hr>
        	<p class="text-muted">&copy; The Ascott Limited | SUTD</p>
	    </div>
	    <!-- END Form -->

</div> <!-- /.col-sm-6 -->
</div> <!-- /.container-fluid -->

</body>
</html>