{% extends "base.html" %}
{% block sidebar %}
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text" style="text-align:left;">
        <i class="pe-7m-user" style="font-size:30px;padding-left:12px"></i>
            Supervisor
        </a>
    </div>

    <ul class="nav">
        <li>
            <a href="/">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        
        <li>
            <a href="/inventory">
                <i class="pe-7s-rocket"></i>
                <p>Inventory</p>
            </a>
        </li>

        <li>
            <a href="/tasks">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
            </a>
        </li>
        
    </ul>
</div>
{% endblock %}

{% block title %}
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Logs in current month</a>
{% endblock %}

{% block content %}
<style>
	.card .content {
		padding:0;
	}
</style>
<script type="text/javascript">
	function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
	function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

</script>



<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
		    <div class="card card-plain">
		       <!--  <div class="header">
		            <h4 class="title">Logs</h4>
		            <p class="category">Movement of Inventory</p>
		        </div> -->
		        <div class="content table-responsive table-full-width" style="margin-top: 20px;">
                
		            <table id="table" class="table table-hover">
		                <thead>
		                	<th>Name</th>
		                	<th>Item</th>
                            <th>Category</th>
		                	<th>Qty</th>
		                	<th>In/Out</th>
		                	<th>Date-Time</th>
                            <th>Location</th>


		                </thead>
		                <tbody>
                        {% for log in logs %}
		                	<tr>
                                <td>{{log.name}}</td>
                                <td>{{log.item}}</td>
                                <td>{{log.category}}</td>
                                <td>{{log.qty}}</td>
                                <td>{{log.action}}</td>
                                <td>{{log.dateTime}}</td>
                                <td>{{log.location}}</td>
                            </tr>
                        {% endfor %}
                            

		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
	</div>
        <script type="text/javascript" language="javascript" src="TableFilter/tablefilter.js">
        var tf10 = setFilterGrid("table"); 
        </script>  
        



	<div class="row" style="padding-bottom:30px;">
		<div class="col-xs-12" align="center">
         <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul> 
			<button onclick="exportTableToCSV('table.csv')" class="btn btn-default btn-block">Export</button>
		</div>

	</div>
</div>
{% endblock %}