{% extends "base.html" %}
{% block sidebar %}
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text" style="text-align:left;">
        <i class="pe-7m-user" style="font-size:30px;padding-left:12px"></i>
            Supervisor
        </a>
    </div>

    <ul class="nav">
        <li>
            <a href="/">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        
        <li>
            <a href="/inventory">
                <i class="pe-7s-rocket"></i>
                <p>Inventory</p>
            </a>
        </li>

        <li>
            <a href="/tasks">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
            </a>
        </li>
        
    </ul>
</div>
{% endblock %}

{% block title %}
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Logs in current month</a>


{% endblock %}

{% block content %}
<!--<style>
	.card .content {
		padding:0;
	}
</style>-->


<!--{% for log in logs %}
                            <tr class="content">
                                <td>{{log.name}}</td>
                                <td>{{log.item}}</td>
                                <td>{{log.category}}</td>
                                <td>{{log.qty}}</td>
                                <td>{{log.action}}</td>
                                <td>{{log.dateTime}}</td>
                                <td>{{log.location}}</td>
                            </tr>
                        {% endfor %}-->

<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">

		       <!--  <div class="header">
		            <h4 class="title">Logs</h4>
		            <p class="category">Movement of Inventory</p>
		        </div> -->

                    <table id="logs" class="tablesorter">
                        <thead><tr>
                            <th>Name</th>
                            <th>Item</th>
                            <th>Category</th>
                            <th>Qty</th>
                            <th>In/Out</th>
                            <th>Date-Time</th>
                            <th>Location</th>
                        </tr></thead>
                        <tbody>

                        <!-- TO REMOVE WHEN PLACEHOLDER NO LONGER NEEDED -->
                            <tr>
                              <td>Smith</td>
                              <td>John</td>
                              <td>jsmith@gmail.com</td>
                              <td>$50.00</td>
                              <td>http://www.jsmith.com</td>
                              <td>2017-07-05 10:20:41</td>
                              <td>Pantry</td>
                            </tr>
                            <tr>
                              <td>Bach</td>
                              <td>Frank</td>
                              <td>fbach@yahoo.com</td>
                              <td>$50.00</td>
                              <td>http://www.frank.com</td>
                              <td>2017-06-11 14:14:59</td>
                              <td>Office</td>
                            </tr>
                            <tr>
                              <td>Doe</td>
                              <td>Jason</td>
                              <td>jdoe@hotmail.com</td>
                              <td>$100.00</td>
                              <td>http://www.jdoe.com</td>
                              <td>2017-06-11 10:20:11</td>
                              <td>Lobby</td>
                            </tr>
                            <tr>
                              <td>Conway</td>
                              <td>Tim</td>
                              <td>tconway@earthlink.net</td>
                              <td>$50.00</td>
                              <td>http://www.timconway.com</td>
                              <td>2016-12-31 22:23:47</td>
                              <td>Room 316</td>
                            </tr>
                        <!-- END BLOCK -->

                        </tbody>
                    </table>


		</div>
	</div>
        
	<div class="row" style="padding-bottom:30px;">
		<div class="col-xs-12" align="center">
         <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul> 
			<button onclick="exportTableToCSV('table.csv')" class="btn btn-default btn-block">Export</button>
		</div>

	</div>
</div>


<script>

$(document).ready(function() { 
    $("#logs").tablesorter({
        sortList: [[5,1]],
        showProcessing: true,
        widgets: ["filter"]
    }); 
}); 
    

    function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
    function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td,th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

// function filtername()
//     {  
//         var rex = new RegExp($('#filtername').val());
//         if(rex =="/all/"){clearFilter()}else{
//             $('.content').hide();
//             $('.content').filter(function() {
//             return rex.test($(this).text());
//             }).show();
//     }
//     }


// function filteritem()
//     {  
//         var rex = new RegExp($('#filteritem').val());
//         if(rex =="/all/"){clearFilter()}else{
//             $('.content').hide();
//             $('.content').filter(function() {
//             return rex.test($(this).text());
//             }).show();
//     }
//     }
    
    
// function clearFilter()
//     {
//         $('.filterText').val('');
//         $('.content').show();
//     }

</script>

{% endblock %}