{% extends "base.html" %}
{% block sidebar %}
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text" style="text-align:left;">
        <i class="pe-7m-user" style="font-size:30px;padding-left:12px"></i>
            Supervisor
        </a>
    </div>

    <ul class="nav">
        <li>
            <a href="/">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        
        <li>
            <a href="/inventory">
                <i class="pe-7s-rocket"></i>
                <p>Inventory</p>
            </a>
        </li>

        <li>
            <a href="/tasks">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
            </a>
        </li>
        
    </ul>
</div>
{% endblock %}

{% block title %}Logs{% endblock %}

{% block content %}
<style>
	.card .content {
		padding:0;
	}
</style>
<script type="text/javascript">
	function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
	function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
</script>
<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
		    <div class="card card-plain">
		       <!--  <div class="header">
		            <h4 class="title">Logs</h4>
		            <p class="category">Movement of Inventory</p>
		        </div> -->
		        <div class="content table-responsive table-full-width" style="margin-top: 20px;">
		            <table class="table table-hover">
		                <thead>
		                	<th>Name</th>
		                	<th>Item</th>
		                	<th>Qty</th>
		                	<th>In/Out</th>
		                	<th>Date-Time</th>
		                	<th>Qty Left</th>
		                </thead>
		                <tbody>
		                	<tr>
                                <td>Ah Moi</td>
                                <td>Conditioner</td>
                                <td>3</td>
                                <td>Out</td>
                                <td>3 minutes ago</td>
                                <td>98</td>
                            </tr>
                            <tr>
                                <td>Nisha</td>
                                <td>Shampoo</td>
                                <td>5</td>
                                <td>Out</td>
                                <td>2 hours ago</td>
                                <td>134</td>
                            </tr>
                            <tr>
                                <td>Sok Ting</td>
                                <td>Toothbrush</td>
                                <td>10</td>
                                <td>Out</td>
                                <td>4pm yesterday</td>
                                <td>253</td>
                            </tr>
		                    <tr>
		                    	<td>Sita</td>
		                    	<td>Tissue Box</td>
		                    	<td>1</td>
		                    	<td>Out</td>
		                    	<td>3:50pm yesterday</td>
		                    	<td>180</td>
		                    </tr>
		                    <tr>
		                    	<td>Alina</td>
		                    	<td>Shower Cap</td>
		                    	<td>10</td>
		                    	<td>Out</td>
		                    	<td>2:15pm yesterday</td>
		                    	<td>124</td>
		                    </tr>
		                    <tr>
		                    	<td>Musi</td>
		                    	<td>Pens</td>
		                    	<td>20</td>
		                    	<td>Out</td>
		                    	<td>1.20pm 20/03/2017</td>
		                    	<td>47</td>
		                    </tr>
		                    <tr>
		                    	<td>Sim Lim</td>
		                    	<td>Slippers</td>
		                    	<td>5</td>
		                    	<td>Out</td>
		                    	<td>2.20pm 19/03/2017</td>
		                    	<td>145</td>
		                    </tr>

		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row" style="padding-bottom:30px;">
		<div class="col-xs-12" align="center">
			<button onclick="exportTableToCSV('table.csv')" class="btn btn-default btn-block">Export</button>
		</div>

	</div>
</div>
{% endblock %}