{% extends "base.html" %}
{% block sidebar %}
{% endblock %}

{% block title %}
    
<span class="cart-group">
    <a id="cart-icon" class="cart-icon" href="cart">
        <div id="cart-notif" class="cart-notif hide"><span id="cart-qty" class="cart-qty"></span></div>
        <img src="/static/img/cart.png" />
    </a>
</span>

<script>
    $(function show_cart_length() {
        if (localStorage[cart] == null) {
            $("#cart-notif").remove();
        } else {
            $("#cart-notif").removeClass('hide');
            var qty = localStorage[cart_qty];
            $("#cart-qty").html(qty);
        }
    });
</script>

<a class="navbar-brand" href="#">Store 1 Shelf 1</a>
{% endblock %}

{% block content%}
<style>


span.cart-group {
  float: right !important;
  position: absolute;
  top: 15px;
  right: 25px;
  /*margin: 15px 25px 15px 0;*/
}

span.cart-group img {
  max-width: 40px;
  max-height: 30px;
  margin-right: -7px;
  z-index: 1;
}

.cart-icon .cart-notif {
  float:right;
  width: 14px;
  height: 14px;
  background-color: red;
  border: 1px solid red;
  border-radius: 8px;
  margin-top: -3px;
  z-index: 2;
  position: relative;
}

.cart-icon .cart-notif .cart-qty {
  color: white;
  z-index: 9;
  position: relative;
  top: -7px;
  right: -3px;
  font-size: x-small;
}

.modal-pic {
  width: 100%;
}

.modal-pic img {
  max-width: 180px;
  margin-bottom: 20px;
}

.btn-success {
  border-color: #4a960a;
  color: #204c00;
}

</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content all-icons">
                        <div class="row">
                            {% for item in things %}
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <a class="openModal" href="" data-toggle="modal" data-target="#qtyModal" id="openModal_{{item.name}}">
                                    <div class="font-icon-detail">
                                        <img src="/static/img/items/{{item.category}}/{{item.picture}}"/><br/>
                                        <div class="name">{{item.name}}</div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
        <!-- for all the items in the category-->

                            <!-- {% for things in catGoods %}
                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <a href="{{things.name}}" data-rel="popup">
                                    <div class="font-icon-detail">
                                    <img src="/static/img/items/{{things.category}}/{{things.name}}.jpg"/>

                                    <span class="name">{{things.name}}</span>
                                    </div>
                                </a>
                            </div> -->
                            
                            {% endfor %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".openModal").click(function() {
        var name = $(this).find('div.name').html();
        var img = $(this).find("img").attr('src');
        $("#qtyForm .modal-pic img").attr('src', img);
        $("#qtyForm #modal-input-name").val(name);
        $("#qtyModal h4").text(name);
    });
})

</script>

<div id="qtyModal" class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="qtyForm">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                    <h4 id="form-header"></h4>
                </div>
                <div class="modal-body">
                    <div class='modal-pic' align="center"><img src=""/></div>
                    <div class="qty-display form-fields">
                        <!-- <label>Enter quantity:</label> -->
                        <input id="modal-input-name" type="hidden" name="item" value="" />
                        <input id="quantity" type="number" name="qty" value="" placeholder="Enter quantity"/>
                        
                    </div>
                </div>
                <div class="modal-footer" align="center" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-success" style="">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
#qtyModal #form-header {
  margin: 0px;
}

.qty-display.form-group label, 
.qty-display.form-group input {
  float:left;
}

.qty-display.form-group input {
  max-width: 60px;
}

</style>
<script>
$(function () {
  function($addTocartBtn){
    var $cartIcon = $(".my-cart-icon");
    var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
    $addTocartBtn.prepend($image);
    var position = $cartIcon.position();
    $image.animate({
      top: position.top,
      left: position.left
    }, 500 , "linear", function() {
      $image.remove();
    });
  }

  $('.my-cart-btn').myCart({
    classCartIcon: 'my-cart-icon',
    classCartBadge: 'my-cart-badge',
    affixCartIcon: true,
    checkoutCart: function(products) {
      $.each(products, function(){
        console.log(this);
      });
    },
    clickOnAddToCart: function($addTocart){
      goToCartIcon($addTocart);
    },
    getDiscountPrice: function(products) {
      var total = 0;
      $.each(products, function(){
        total += this.quantity * this.price;
      });
      return total * 0.5;
    }
  });

})

$("#qtyForm").on('submit', function(e) {
    e.preventDefault();
    var picture = $(this).find($(".modal-pic img")).attr('src');
    var item = $(this).find($("#modal-input-name")).val();
    var qty = $(this).find($("#quantity")).val();
    var string = JSON.stringify([picture, item, qty])
    if (localStorage[cart]) {
        localStorage[cart_qty] = JSON.stringify
        qty = JSON.stringify(JSON.parse(localStorage[item]) + $("input:eq(1)"));
        localStorage[item] = qty;
    }
    else {
        localStorage.setItem(item, qty);
    }
    var cart_size = localStorage.length;
    
    $("#cart-qty").text(cart_size);
    
    $("#qtyModal").hide();
    // location.reload();
})

</script>
{% endblock %}
