{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block content %}
<style>
    
.buttons {
    padding: 15px;
}

.btn-success {
    color: #81eb50;
    border-color: #81eb50;
}
</style>
<link rel="stylesheet" type="text/css" href="../static/css/loading.css"/>

<div class="content">
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-9">
			    <div class="card">
			        <div class="content">
                        <div id="chart" style="height: 400px; margin: 0 auto"></div>
			            <div class="footer" id="update" style="display:none">
                            <hr>
			                <div class="stats">
			                    <i class="fa fa-history"></i> Latest stock movement &mdash; 3 minutes ago
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
            <div class="col-md-3">
                <div class="card">
                    <div class="content">
                        <img src="/static/img/items/{{category}}/{{picture}}"/>
                    </div>
                </div>
            </div>
		</div>

        <div class="row">
            <div class="col-md-3"><button class="btn btn-success btn-block" id="btn_getData">New Stock</button></div>
            <div class="col-md-3"><button class="btn btn-default btn-block" id="btn_getData">Get Data</button></div>
            <div class="col-md-3"><button class="btn btn-danger btn-block" id="btn_newItem">Use</button></div>
        </div>


    	
	</div>
</div>

<script>
var chartData;


function getData(callback) {
    $.ajax({
        type: "POST",
        url: "/api/getChartData",
        data: JSON.stringify("{{name}}"),
        dataType: "json",
        contentType: "application/json",
        success: function(response, status, jqXHR) {
            var filtered = [];
            for (var c = 0; c < response.length; ++c) {
                filtered.push([new Date(response[c][0]).getTime(), response[c][1]])
            }
            chartData = filtered;
            callback(filtered)
        }
    });
}

function initChart(dataSources) {


    Highcharts.stockChart('chart', {
        rangeSelector: {
            selected: 1
        },
        chart: {
            type: 'area'
        },
        title: {
            text: '{{name}}'
        },
        subtitle: {
            text: 'Quantity remaining'
        },
        // xAxis: {
        //     type: 'datetime',
        //     dateTimeLabelFormats: { // don't display the dummy year
        //         month: '%e. %b',
        //         year: '%b'
        //     },
        //     title: {
        //         text: 'Date'
        //     }
        // },
        tooltip: {
            // headerFormat: '<b>Quantity</b><br>',
            pointFormat: '<b>Quantity:</b> {point.y:.2f}'
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },

        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    enabled: false
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            },
            series: {
                events: {
                  afterAnimate: function (ev) {
                    // console.log(data)
                    // console.log(ev)
                    // console.log('fired only once for each series');
                    // $("#update").css("display", "inline");
                    $("#update").fadeIn();
                  }
                }
            }
        },

        series: [{
            name: '{{item}}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: dataSources
        }]
    });
}

getData(initChart);

$(document).ready(function(){
    // insert any required code here
});

</script>
{% endblock %}